{% extends 'base.html' %}
{% block content %}

<head>
  <script src = "/static/sorttable.js"></script>
  <style>
  table
  {
    width:80%;
  }
  table td, table th {
    border: 1px solid black;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h1{
    text-align: center;
  }
  * {
  box-sizing: border-box;
  }
  .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  </style>
</head>
<!-- head -->

<!-- body -->
<body>
<h1> {{podatki_o_ekipi.ime}} </h1>
<div class="row">
  <div class="column">
    <p>
      <img src="/static/ErikSpoelstra.png" style="width:200px;height:200px;">
    </p>
  </div>
  <div class="column" style="align:left;">
    <h4> Podatki o ekipi: </h4>
    <p>
      <li>
          <b>Trener</b>: {{podatki_o_ekipi.trener}}
      </li>
      <li>
          <b>Kratica</b>: {{podatki_o_ekipi.kratica}} 
      </li>
    </p>
  </div>
</div>

<br/>

<h2>Igralci</h2>
<table class="table table-hover table-sortable">
<thead class="thead-dark">
<tr>
    <th>Ime</th>
    <th>Številka dresa</th>
    <th>Pozicija</th>
</tr>
</thead>
    {% for igralec in seznam_igralcev %}
        <tr>
        <td>{{igralec.ime}}</td>
        <td>{{igralec.stevilka}}</td>
        <td>{{igralec.pozicija}}</td>
        </tr>
    {% endfor %}
</table>


<h2>Tekme med dvema datumoma</h2>
<form method="post">
<center>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</center>
</form>

</body>

{% endblock %}