{% extends 'base.html' %}
{% block content %}

<p> Izberi igralca za katerega želiš dobiti povprečja: </p>

<form action="{% url 'povpigralec' %}" method="post">

  <label for="exampleSelect1">Igralci:</label>
  <div class = "form-row">
    <div class = "col-xs-3 col-md-3">
        <select class="form-control", name='povprecja'>
        {% for igralec in vsi_igralci %}
            <option value="{{igralec.ime}}">{{igralec.ime}}</option>
        {% endfor %}
        </select>
    </div>
    <div class = "col-xs-3 col-md-3">
        <input type="submit" value="Povprečje igralca" class="btn btn-primary">
    </div>
  </div>
<form/>


{% endblock %}